{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script src="https://unpkg.com/mermaid@10/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    mermaid.initialize({
      startOnLoad:true,
      theme: "default",
      themeVariables: {
        fontFamily: "Consolas",
      }
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/abcjs@6/dist/abcjs-basic-min.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    let abcCodeBlocks = document.querySelectorAll('.language-abc');

    abcCodeBlocks.forEach(abcE => {
      const abcString = abcE.innerText;
      const musicSheet = document.createElement("div");
      const visualObj = ABCJS.renderAbc(musicSheet, abcString);
      const audioPlayer = document.createElement("div");
      abcE.insertAdjacentElement("afterend", musicSheet);
      musicSheet.insertAdjacentElement("afterend", audioPlayer);
      if (ABCJS.synth.supportsAudio()) {
        let controlOptions = {
            displayRestart: true,
            displayPlay: true,
            displayProgress: true,
            displayClock: true
        };

        const synthControl = new ABCJS.synth.SynthController();
        synthControl.load(audioPlayer, null, controlOptions);
        synthControl.disable(true);
        const midiBuffer = new ABCJS.synth.CreateSynth();
        midiBuffer.init({
            visualObj: visualObj[0],
            options: {
                
            }

        }).then(function () {
            synthControl.setTune(visualObj[0], true).then(function (response) {
            audioPlayer.querySelector(".abcjs-inline-audio").classList.remove("disabled");
            })
        });
      } else {
        // audio not supported
      }
      abcE.remove();
    })
  });
</script>
